-# tinymce_hammer attempts to load these, but the paths aren't correct
-# see config/initializers/tinymce_hammer.rb for config options
- @stylesheets << 'tiny_mce/themes/advanced/skins/default/ui.css'

= form.tinymce field_name, :decorated => false, :width => '100%', :cols => '60'
