%a{ :href => url, :title => "add '#{title}' to #{app}", :onclick => "window.open(this.href, '_blank', 'scrollbars=yes,menubar=no,border=0,height=600,width=750,resizable=yes,toolbar=no,location=no,status=no'); return false;" }<
  %img{ :src => image }